$btn-color: hsl(180, 66%, 49%);
$btn-hover-color: hsl(180, 58%, 64%);
$nav-a-color: hsl(0, 0%, 75%);
$nav-a-hover-color: hsl(0, 0%, 23%);
$dark-voilet: hsl(257, 27%, 26%);
$v-dark-blue: hsl(255, 11%, 22%);
$v-dark-voilet: hsl(260, 8%, 14%);
$gray: hsl(0, 0%, 19%);
$cyan: hsl(180, 66%, 49%);
$gray-voilet: hsl(255, 11%, 22%);
$red: hsl(0, 87%, 67%);
